@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply bg-transparent m-0 p-0 box-border border-spacing-0;
  }
  html,
  body,
  #root {
    @apply text-foreground min-w-80 w-full h-full overflow-hidden;
  }
}
